@import url("https://fonts.googleapis.com/css2?family=Trocchi&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgba(0, 0, 0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  margin: 20px 10px;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}
.container .leftSide {
  position: relative;
  background-color: #003147;
  padding: 40px;
}
.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}

.profileText .image-profile {
  position: relative;
  align-self: center;
  width: 160px;
  height: 160px;
  border-radius: 45%;
  overflow: hidden;
}

.profileText .image-profile img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.profileText h2 {
  color: #fff;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}

.profileText h2 span {
  font-size: 0.4em;
  font-weight: 100;
}

.container .rightSide {
  position: relative;
  background-color: #fff;
  padding: 40px;
}

.icon img {
  position: relative;
  align-self: center;
  align-content: center;
  width: 10%;
  background-color: none;
  margin-right: 5px;
}

.Info {
  padding-top: 40px;
}

.title {
  margin-bottom: 20px;
  color: #A4B494;
  text-transform: uppercase;
  font-weight: 350;
  letter-spacing: 1px;
}

.Info .skills {
  color: #fff;
}

.link:link {
  text-decoration: none;
  color: blanchedalmond;
}

.link:visited {
  text-decoration: none;
  color: blanchedalmond;
}

.link:hover {
  text-decoration: none;
  color: rgb(255, 0, 0);
}

.Info ul {
  position: relative;
}

.Info ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
}

.Info.Education li {
  margin-bottom: 15px;
}

.Info.Education h5 {
  color: aqua;
  font-style: italic;
  font-weight: 200;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.Info.Education h4 {
  color: #fff;
  font-weight: 100;
}

.ResumenInfo {
  margin-top: 20px;
}

.ResumenInfo:last-child {
  margin-bottom: 0;
}

.Titulo {
  color:#003147;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.ResumenInfo p {
  text-align: justify;
}

.Experiencia {
  margin-top: 20px;
}

.ResumenInfo .box {
  display:flex;
  flex-direction: row;
  margin: 20px 0;
}

.ResumenInfo .box .company{
  min-width: 150px;
}

.ResumenInfo .box .company h5{
  text-transform: uppercase;
  color: #A4B494;
}

.ResumenInfo .box .text h4{
  margin-bottom: 10px;
  color: #003147;
}

.Software .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}

.Software .box h4 {
  text-transform: uppercase;
  color: #A4B494;
  font-weight: 550;
}

.Software .box .percent {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: rgba(207, 204, 204, 0.89);
}

.Software .box .percent div {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(8, 87, 87);
}